* {
  text-align: center;
  color: #FFE81F;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}

body {
  /*специально по просьбе одной фанатки*/
  /* background-image: url("../public/space.jpg"); */
  /*это я больше люблю*/
  background-color: black;
  background-size: 100%;
  margin: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}